
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="installation" class="row featurette">
    <div class="col-md-12">
        <div class="col-md-8">
        </div>
        <div class="col-md-4" id="biaodan">
            <div class="man-top">
                <form class="form-signin" role="form" id="a1" method="post" asp-action="Login2">
                    <h1>Login/登陆</h1>
                    <input type="text" class="form-control" name="user" placeholder="用户名" required autofocus />
                    <input type="password" class="form-control"name="password" placeholder="密码" required />
                    <button class="btn btn-lg btn-warning btn-block" id="submit" type="submit">登录</button>
                    <label class="checkbox"><input type="checkbox" value="remember-me"> 记住我</label>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>


@*<script>
    $(function () {
        $('#submit').click(function () {
            var name = document.getElementsByTagName('user');
            var psd = document.getElementsByTagName('password');
            psd = hex_md5(psd);
            $.ajax({
                'type': 'post', 'url': '/home/login2',
                //传递的数据也可以是序列化之后的json格式数据
                //如，上面使用form表单提交数据就可以使用jquery中的serialize()方法将表单进行序列化之后在提交
                //data:$('#form').serialize()
                'data': { user: name, psd: psd },
                error: function (message) {
                    alert('error!');
                }
            });
        })
    })   


</script>*@

